<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Companies</h2>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary pull-right m-t-md" (click)='router.navigate(["/companies/new"])'>
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="CaseId">Import Companies (Accept file types .xls, .xs) less then 3 mb
                  <span class="color-blue">(Export file to Import)</span>
                </label>
                <p-fileUpload #billDocument customUpload="true" auto="auto" (uploadHandler)="onFileChange($event)" (onRemove)="deleteDocument()">
                  <ng-template pTemplate="file">
                    <div></div>
                  </ng-template>
                  <ng-template pTemplate="content">
                    <div>Drag & Drop file here</div>
                  </ng-template>
                </p-fileUpload>
                <div class="m-t-sm">
                  <span *ngIf="fileName">{{fileName | limitTo: 35 }}</span>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                    <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                </div>

                <div>
                  <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                  <label *ngIf="!validFileSize" class="error"> File size should less than 3 MB. </label>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" (click)="exportCompany()">
                  <i class="fa fa-download mr5"></i> Export Companies
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p-dataTable [rowHover]="true" [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
            loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)">
            <p-column field="CompanyName" [filter]="true" [sortable]="true" header="Company Name"></p-column>
            <p-column field="InsdustrySection" [filter]="true" [sortable]="true" header="Insdustry Section"></p-column>
            <p-column field="Category" [filter]="true" [sortable]="true" header="Category"></p-column>
            <p-column field="Website" [filter]="true" [sortable]="true" header="Website"></p-column>
            <p-column field="CompanySize" [filter]="true" [sortable]="true" header="CompanySize"></p-column>
            <p-column header="Actions">
              <ng-template let-data="rowData" pTemplate="body">
                <button (click)="editClick(data.Id)" class="btn-white btn btn-xs">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteClick(data.Id)" class="btn-white btn btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>