<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Complains</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['../../']">Home</a>
      </li>
      <li class="active">
        <strong>Complain</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary pull-right m-t-md" [routerLink]="['../../complain/new']">
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p-dataTable [rowHover]="true" [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
            loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)">
            <p-column field="ComplainDate" [sortable]="true" header="Complain Date">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span (click)="viewComplain(data)">{{data[col.field] | date: 'dd/MM/yyyy'}}</span>
              </ng-template>
            </p-column>
            <p-column field="ComplainByName" [filter]="true" [sortable]="true" header="Complain By Name"></p-column>
            <p-column field="ComplainOfName" [filter]="true" [sortable]="true" header="Complain Of Name"></p-column>
            <p-column field="ComplainStatus" [filter]="true" [sortable]="true" header="Complain Status"></p-column>

            <p-column header="Actions">
              <ng-template let-data="rowData" pTemplate="body">
                <button (click)="editClick(data.Id)" class="btn-white btn btn-xs">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteClick(data.Id, dt)" class="btn-white btn btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>