<div class="container-fluid custom-modal-container" style="padding: 15px 30px;">
  <div class="row custom-modal-header">
    <div class="col">
      <h2 class="my-3">Create Stage </h2>
    </div>
  </div>
  <div class="hr-line-dashed"></div>
  <form name="stageForm" (ngSubmit)="stageForm.form.valid && createStage()" #stageForm='ngForm' novalidate>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="form-label" for="stageName">Stage Name
            <span class="req">*</span>
          </label>
          <input type="text" class="form-control" required name="stageName" [(ngModel)]="stageModel.StageName" #stageName="ngModel"
            [class.inValidField]="stageForm.submitted && !stageName.valid" />
          <label class="error" *ngIf="stageForm.submitted && !stageName.valid">Please enter Stage Name</label>
        </div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
      <a href=javascript:; (click)="closeClick()" class="btn btn-default btn-cancel mr5">
        <i class="fa fa-times-circle mr5"></i> Back
      </a>
      <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
        <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
      </button>
    </div>
  </form>
  <div class="row custom-modal-footer">
    <div class="col-xs-12">
    </div>
  </div>
</div>