<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ (paramId !='new') ? 'Modify':'Add' }} Time Spend on Case {{caseDetail.CaseNo}}</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li>
        <a [routerLink]="['/case']">Case</a>
      </li>
      <li>
        <a (click)="onCancelClick()">Time Tracking</a>
      </li>
      <li class="active">
        <strong>{{ (paramId !='new') ? 'Modify':'Add' }} Time Spend</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form name="timeTrackingForm" class="time-tracking-form" (ngSubmit)="timeTrackingForm.form.valid && save()" #timeTrackingForm="ngForm"
            novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AssociateName">Associate Name
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" id="AssociateName" [(ngModel)]="model.AssociateId" name="AssociateName" [source]="associateNameSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" value-property-name="Id"
                    (valueChanged)="onSelectAssociateName($event)" display-property-name="Name" required #AssociateName="ngModel"
                    [class.inValidField]="timeTrackingForm.submitted && !AssociateName.valid" />
                  <label *ngIf="timeTrackingForm.submitted && !AssociateName.valid" class="error">
                    Please select Associate Name
                  </label>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="date">Date
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="model.TaskDate" required ngui-datetime-picker date-only="true" name="date" id="date"
                    #TaskDate="ngModel" [class.inValidField]="timeTrackingForm.submitted && !model.TaskDate" />
                  <label *ngIf="timeTrackingForm.submitted && !model.TaskDate" class="error">
                    Please select date
                  </label>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="TaskCategory">Task Category
                    <span class="req">*</span>
                  </label>
                  <a class="pull-right" (click)="appTaskCategory()" *ngIf="!isViewModel">
                    <i aria-hidden="true" class="fa fa-plus"></i> Create New
                  </a>
                  <select class="form-control" [(ngModel)]="model.TaskCategory" [class.inValidField]="timeTrackingForm.submitted && !model.TaskCategoryName"
                    id="taskCategory" name="taskCategory" required #taskCategory="ngModel">
                    <option [value]='undefined'>Select Task Category</option>
                    <option *ngFor="let tc of taskCategoryList" value={{tc.Id}}>
                      {{tc.Name}}
                    </option>
                  </select>
                  <label *ngIf="timeTrackingForm.submitted && !model.TaskCategoryName" class="error">
                    Please select Task Category
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="HoursSpend">Hours spend - (Worked Hours)
                    <span class="req">*</span>
                  </label>
                  <!-- <input class="form-control" type="number" id="HoursSpend" required name="HoursSpend" pattern="^\d+(\.\d{1,2})?$" step="1"
                    [(ngModel)]="model.WorkedHours" #HoursSpend="ngModel" [class.inValidField]="timeTrackingForm.submitted && !HoursSpend.valid"
                  /> -->

                  <p-calendar id="HoursSpend" [(ngModel)]="hoursSpend" #HoursSpend="ngModel" required name="HoursSpend" [class.inValidField]="timeTrackingForm.submitted && !HoursSpend.valid"
                    inputStyleClass="form-control" (keypress)="preventInput($event)" timeOnly="true"></p-calendar>
                  <label *ngIf="(timeTrackingForm.submitted || HoursSpend.dirty) && HoursSpend.errors && !HoursSpend.valid" class="error">
                    Please enter Hours spend</label>
                  <!-- <label *ngIf="(timeTrackingForm.submitted || HoursSpend.dirty) && HoursSpend.errors && HoursSpend.errors['pattern']" class="error">
                    Enter Valid Hours spend</label> -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="BilledHours">Billed Hours
                    <span class="req">*</span>
                  </label>
                  <!-- <input class="form-control" type="number" id="BilledHours" required name="BilledHours" pattern="^\d+(\.\d{1,2})?$" step="1"
                    [(ngModel)]="model.BilledHours" #BilledHours="ngModel" [class.inValidField]="timeTrackingForm.submitted && !BilledHours.valid"
                  /> -->
                  <p-calendar id="BilledHours" [(ngModel)]="billedHours" #BilledHours="ngModel" required name="BilledHours" [class.inValidField]="timeTrackingForm.submitted && !BilledHours.valid"
                    inputStyleClass="form-control" (keypress)="preventInput($event)" timeOnly="true"></p-calendar>
                  <label *ngIf="timeTrackingForm.submitted && !BilledHours.valid" class="error">
                    Please enter Billed Hours</label>
                  <!-- <label *ngIf="(timeTrackingForm.submitted || BilledHours.dirty) && BilledHours.errors && BilledHours.errors['pattern']" class="error">
                    Enter Valid Billed Hours</label> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Rate">Rate
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" id="Rate" required name="Rate" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.Rate"
                    #Rate="ngModel" [class.inValidField]="timeTrackingForm.submitted && !Rate.valid" />
                  <label *ngIf="(timeTrackingForm.submitted || Rate.dirty) && Rate.errors && Rate.errors['required']" class="error">
                    Please enter Rate</label>
                  <label *ngIf="(timeTrackingForm.submitted || Rate.dirty) && Rate.errors && Rate.errors['pattern']" class="error">
                    Enter Valid Rate</label>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Details">Detail</label>
                  <textarea id="Details" name="Details" maxlength="250" class="form-control" [(ngModel)]="model.Details" #Details="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="checkbox">
                  <input type="checkbox" id="DontBill" name="DontBill" [(ngModel)]="model.DontBill" #DontBill="ngModel">
                  <label>
                    Do Not bill
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6" *ngIf="addCase">
                <div class="form-group">
                  <label for="caseno">Case No.
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" id="caseno" [(ngModel)]="caseDetail.CaseNo" name="caseno" [source]="caseNameSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" value-property-name="Id"
                    (valueChanged)="onSelectCaseName($event)" required display-property-name="Name" #caseno="ngModel" [class.inValidField]="timeTrackingForm.submitted && !caseno.valid"
                  />
                  <label *ngIf="timeTrackingForm.submitted && !caseno.valid" class="error">
                    Please select Case No
                  </label>
                </div>

              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Back
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>