<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Case Documents</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-create pull-right" kendoButton (click)="createNewDocument()">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    </div>

  </div>
  <div class=panel-body>

    <p-dataTable [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
      loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)">
      <p-column field="DocumentName" [filter]="true" [sortable]="true" header="Document Name"></p-column>
      <p-column field="DocumentCategory" [filter]="true" [sortable]="true" header="Document Category"></p-column>
      <p-column field="FileType" [filter]="true" [sortable]="true" header="File Type"></p-column>
      <p-column header="Actions">
        <ng-template let-data="rowData" pTemplate="body">
          <button (click)="editClick(data.Id)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteClick(data.Id)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>

      </p-column>
    </p-dataTable>
  </div>
</div>