<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ (paramId !='new') ? 'Modify':'Add' }} Communication</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form name="communicationForm" (ngSubmit)="communicationForm.form.valid && save(undefined, undefined)" #communicationForm="ngForm"
            novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateDate">Communicate Date
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="model.CommunicateDate" ngui-datetime-picker date-only="true" #CommunicateDate="ngModel"
                    required name="CommunicateDate" id="CommunicateDate" (ngModelChange)="communicationDateChanged($event)"
                    [class.inValidField]="communicationForm.submitted && !CommunicateDate.valid" />
                  <label *ngIf="communicationForm.submitted && !CommunicateDate.valid" class="error">
                    Please select Communicate Date.
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicationType">Communication Type</label>
                  <select class="form-control" [(ngModel)]="model.CommunicationType" #CommunicationType="ngModel" id="CommunicationType" name="CommunicationType">
                    <option *ngFor="let ctype of CommunicationTypeDropDown" value={{ctype.Id}}>
                      {{ctype.Name}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateFromId">Communicate From
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="CommunicateFromId" name="CommunicateFromId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectCommunicateFrom($event)"
                    value-property-name="Id" display-property-name="Name" [class.inValidField]="communicationForm.submitted && !CommunicateDate.CommunicateFromId"
                  />
                  <label *ngIf="communicationForm.submitted && !CommunicateFromId" class="error">
                    Please select valid Complain By.
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicateToId">Communicate To
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="CommunicateToId" name="CommunicateToId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectCommunicateTo($event)"
                    value-property-name="Id" display-property-name="Name" [class.inValidField]="communicationForm.submitted && !CommunicateDate.CommunicateToId"
                  />
                  <label *ngIf="communicationForm.submitted && !CommunicateToId" class="error">
                    Please select valid Complain Of.
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Summary">Summary</label>
                  <textarea type="text" id="Summary" name="Summary" maxlength="250" class="form-control" [(ngModel)]="model.Summary" #Summary="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CommunicationDetails">Communication Details</label>
                  <input type="text" id="CommunicationDetails" name="CommunicationDetails" maxlength="250" class="form-control" [(ngModel)]="model.CommunicationDetails"
                    #CommunicationDetails="ngModel" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6" *ngIf="addCase">
                <div class="form-group">
                  <label for="caseno">Case No.
                    <span class="req">*</span>
                  </label>
                  <input ngui-auto-complete class="form-control" id="caseno" [(ngModel)]="caseDetail.CaseNo" name="caseno" [source]="caseNameSearch.bind(this)"
                    min-chars="2" [list-formatter]="caseAutocompleListFormatter" [accept-user-input]="false" value-property-name="Id"
                    (valueChanged)="onSelectCaseName($event)" required display-property-name="Name" #caseno="ngModel" [class.inValidField]="communicationForm.submitted && !caseno.valid"
                  />
                  <label *ngIf="communicationForm.submitted && !caseno.valid" class="error">
                    Please select Case No
                  </label>
                </div>

              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
              <button type="submit" [disabled]="communicationForm.invalid" (click)="communicationForm.valid && save(communicationForm,true)"
                [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-plus mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save and Add another' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>