<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Contacts</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['/']">Home</a>
      </li>
      <li class="active">
        <strong>Contacts</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary pull-right m-t-md" (click)='router.navigate(["/contact/new"])'>
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 0px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="CaseId">Import Contact (Accept file types .xls, .xs) less then 3 mb
                  <span class="color-blue">(Export file to Import)</span>
                </label>
                <p-fileUpload #billDocument customUpload="true" auto="auto" (uploadHandler)="onFileChange($event)" (onRemove)="deleteDocument()">
                  <ng-template pTemplate="file">
                    <div></div>
                  </ng-template>
                  <ng-template pTemplate="content">
                    <div>Drag & Drop file here</div>
                  </ng-template>
                </p-fileUpload>
                <div class="m-t-sm">
                  <span *ngIf="fileName">{{fileName | limitTo: 35 }}</span>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                    <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                </div>

                <div>
                  <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                  <label *ngIf="!validFileSize" class="error"> File size should less than 3 MB. </label>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group pull-right">
                <button type="button" class="btn btn-primary" (click)="exportContact()">
                  <i class="fa fa-download mr5"></i> Export Contact
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-2">
      <div class="widget style1 black-bg mouse-pointer" [class.active]="contactType==='NewlyAdded'" href=#new data-toggle=tab (click)="getNewlyAddedData()">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-trophy fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Total </span>
            <h2 class="font-bold">{{dashboardData.TotalContact}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-2>
      <div class="widget style1 navy-bg mouse-pointer" [class.active]="contactType==='Advocate'" href=#advocate data-toggle=tab
        (click)="tabSelect(2)">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-user fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Advocates </span>
            <h2 class="font-bold">{{dashboardData.TotalAdvocate}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-2>
      <div class="widget style1 lazur-bg mouse-pointer" [class.active]="contactType==='Client'" href=#client data-toggle=tab (click)="tabSelect(1)">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-user fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Clients </span>
            <h2 class="font-bold">{{dashboardData.TotalClient}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-2>
      <div class="widget style1 yellow-bg mouse-pointer" [class.active]="contactType==='LawFirm'" href=#law data-toggle=tab (click)="tabSelect(3)">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-user fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Law Firms </span>
            <h2 class="font-bold">{{dashboardData.TotalLawFirm}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-2>
      <div class="widget style1 red-bg mouse-pointer" [class.active]="contactType==='Importants'" href=#important data-toggle=tab
        (click)="tabSelect(5)">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-star fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Importants </span>
            <h2 class="font-bold">{{dashboardData.TotalImportants}}</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="widget style1 blue-bg mouse-pointer" [class.active]="contactType==='Other'" href=#other data-toggle=tab (click)="tabSelect(4)">
        <div class="row">
          <div class="col-xs-4 text-center">
            <i class="fa fa-user fa-3x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <span> Others </span>
            <h2 class="font-bold">{{dashboardData.TotalOther}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="ibox-content">
        <div class="tab-pane active in" *ngIf=" contactType=== 'NewlyAdded'" id='new'>
          <app-contact-grid class="p10" [page]="page" [loadingIndicator]="loadingIndicator" (onFilter)="onFilter($event)" [filterModel]="filterModel"
            (onSortChange)="onSort($event)" (getPageData)="setPage($event)" [cType]="contactType" [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='client'>
          <app-contact-grid class="p10" *ngIf="contactType=== 'Client'" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" [page]="page" (getPageData)="setPage($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='advocate'>
          <app-contact-grid class="p10" [page]="page" (getPageData)="setPage($event)" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" *ngIf="contactType=== 'Advocate'"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='law'>
          <app-contact-grid class="p10" [page]="page" *ngIf="contactType=== 'LawFirm'" [loadingIndicator]="loadingIndicator" (onSortChange)="onSort($event)"
            [cType]="contactType" [filterModel]="filterModel" (onFilter)="onFilter($event)" (getPageData)="setPage($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='other'>
          <app-contact-grid class="p10" [page]="page" [filterModel]="filterModel" *ngIf="contactType=== 'Other'" [loadingIndicator]="loadingIndicator"
            (onSortChange)="onSort($event)" [cType]="contactType" (getPageData)="setPage($event)" (onFilter)="onFilter($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
        <div class=tab-pane id='important'>
          <app-contact-grid class="p10" [page]="page" [filterModel]="filterModel" *ngIf="contactType=== 'Importants'" [loadingIndicator]="loadingIndicator"
            (onSortChange)="onSort($event)" [cType]="contactType" (getPageData)="setPage($event)" (onFilter)="onFilter($event)"
            [data]="rows" [showAction]="false"></app-contact-grid>
        </div>
      </div>
    </div>
  </div>
</div>