<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Notes for case number {{caseDetail.CaseNo}}</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-create pull-right" kendoButton (click)="createNewNote()">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    </div>
  </div>
  <div class=panel-body>

    <p-dataTable [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
      loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)">
      <p-column field="NoteDate" [sortable]="true" header="Note Date">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span>{{data[col.field] | date: 'dd/MM/yyyy'}}</span>
        </ng-template>
      </p-column>
      <p-column field="NotesByName" [filter]="true" [sortable]="true" header="Notes By"></p-column>
      <p-column field="Subject" [filter]="true" [sortable]="true" header="Case Number"></p-column>
      <p-column field="IsImportant" [filter]="true" [sortable]="true" header="Important Note">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <i class="big-icon fa {{ data[col.field] ? 'fa-star' : 'fa-star-o' }}" aria-hidden="true"></i>
        </ng-template>
      </p-column>
      <p-column header="Actions">
        <ng-template let-data="rowData" pTemplate="body">
          <button (click)="editClick(data.Id)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteClick(data.Id)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>

      </p-column>
    </p-dataTable>
  </div>
</div>