<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{ (paramId !='new') ? 'Modify':'Add' }} Case Document</h2>
        <ol class="breadcrumb">
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>
            <li>
                <a [routerLink]="['/case']">Case</a>
            </li>
            <li>
                <a (click)="onCancelClick()">Document</a>
            </li>
            <li class="active">
                <strong>{{ (paramId !='new') ? 'Modify':'Add' }} Case Document</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form name="caseDocumentForm" (ngSubmit)="caseDocumentForm.form.valid && save()" #caseDocumentForm="ngForm" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="DocumentName">Document Name
                                        <span class="req">*</span>
                                    </label>
                                    <input type="text" maxlength="150" id="DocumentName" name="DocumentName" required class="form-control" [(ngModel)]="model.DocumentName"
                                        #DocumentName="ngModel" [class.inValidField]="caseDocumentForm.submitted && !DocumentName.valid"
                                    />
                                    <label *ngIf="caseDocumentForm.submitted && !DocumentName.valid" class="error">
                                        Please enter Document Name
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="DocumentCategory">Document Category</label>
                                    <select class="form-control" [(ngModel)]="model.DocumentCategory" id="DocumentCategory" name="DocumentCategory" #DocumentCategory="ngModel">
                                        <option [value]='undefined'>Select Document Category</option>
                                        <option *ngFor="let category of CategoryDropDown" value={{category.Id}}>
                                            {{category.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="CaseId">Document (Accept file types .doc, .docx, .pdf, .xls, .xs, .jpg, .jpeg, .png, .txt, .rtf)
                                        less then 3 mb</label>

                                    <!-- <div>{{fileToUpload?.name || 'Select File'}}
                                    </div>
                                    <a href="javascript:void(0);" class="change btn btn-primary" (click)="fileUpload.click()">
                                        <i class="fa fa-upload mr5"></i> Upload</a>
                                    <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="showDocument()">
                                        <i class="fa fa-download mr5" aria-hidden="true"></i>Download</a>
                                    <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                                        <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                                    <input type="file" class="fileUpload" #fileUpload style="display:none" accept=".doc, application/pdf, image/jpg, image/jpeg, image/png, .xls, .ppt, .txt, .rtf"
                                        #fileUpload style="display:none" (change)="onFileChange($event)" />
                                    <div>
                                        <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                                        <label *ngIf="!validFileSize" class="error"> File size should less than 3 MB. </label>
                                    </div> -->
                                    <p-fileUpload #billDocument customUpload="true" auto="auto" (uploadHandler)="onFileChange($event)" (onRemove)="deleteDocument()">
                                        <ng-template pTemplate="file">
                                            <div></div>
                                        </ng-template>
                                        <ng-template pTemplate="content">
                                            <div>Drag & Drop file here</div>
                                        </ng-template>
                                    </p-fileUpload>
                                    <div class="m-t-sm">
                                        <span *ngIf="fileName">{{fileName | limitTo: 35 }}</span>
                                        <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="showDocument()">
                                            <i class="fa fa-download mr5" aria-hidden="true"></i>Download</a>
                                        <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                                            <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                                    </div>

                                    <div>
                                        <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                                        <label *ngIf="!validFileSize" class="error"> File size should less than 3 MB. </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6" *ngIf="addCase">
                                <div class="form-group">
                                    <label for="caseno">Case No.
                                        <span class="req">*</span>
                                    </label>
                                    <input ngui-auto-complete class="form-control" id="caseno" [(ngModel)]="caseNo" name="caseno" [source]="caseNameSearch.bind(this)"
                                        min-chars="2" [list-formatter]="caseAutocompleListFormatter" [accept-user-input]="false"
                                        value-property-name="Id" (valueChanged)="onSelectCaseName($event)" required display-property-name="Name"
                                        #caseno="ngModel" [class.inValidField]="caseDocumentForm.submitted && !caseno.valid"
                                    />
                                    <label *ngIf="caseDocumentForm.submitted && !caseno.valid" class="error">
                                        Please select Case No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                                <i class="fa fa-times-circle mr5"></i> Back
                            </a>
                            <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>