<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dashboard</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight dashboard-widget-container">
  <div class="row">
    <div class="col-md-3">
      <div class="widget style1 black-bg mouse-pointer" href=#new data-toggle=tab>
        <div class="row">
          <div class="col-xs-3 text-center">
            <i class="pp-icon-trust pp-3x"></i>
          </div>
          <div class="col-xs-8 text-left">
            <span> Trust </span>
            <h3 class="font-bold">{{dashboardData.TotalTrust | currency :'INR':true:'2.2-4'}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-3>
      <div class="widget style1 navy-bg mouse-pointer" href=#advocate data-toggle=tab>
        <div class="row">
          <div class="col-xs-3 text-center">
            <i class="pp-icon-payments pp-3x"></i>
          </div>
          <div class="col-xs-8 text-left">
            <span> Paid </span>
            <h3 class="font-bold">{{dashboardData.paid | currency :'INR':true:'2.2-4'}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-3>
      <div class="widget style1 lazur-bg mouse-pointer" href=#client data-toggle=tab>
        <div class="row">
          <div class="col-xs-3 text-center">
            <i class="pp-icon-due pp-3x"></i>
          </div>
          <div class="col-xs-8 text-left">
            <span> Due </span>
            <h3 class="font-bold">{{dashboardData.unpaid | currency :'INR':true:'2.2-4'}}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-3>
      <div class="widget style1 yellow-bg mouse-pointer" href=#law data-toggle=tab>
        <div class="row">
          <div class="col-xs-3 text-center">
            <i class="pp-icon-billable pp-3x"></i>
          </div>
          <div class="col-xs-8 text-left">
            <span> Billable </span>
            <h3 class="font-bold">{{dashboardData.Balance | currency :'INR':true:'2.2-4'}}</h3>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row m-t-md">
    <div class="col-lg-12">
      <div class="ibox-content">
        <h3>Quick Create</h3>
        <div class="row"></div>
        <div class="row"></div>
        <div class="quick-add-container">
          <a class="quick-add-btn" [routerLink]="['contact/new']">
            <i class="pp-icon-contacts"></i>
            <div> New Client </div>
            <span class="badge badge-primary">{{dashboardData.Clients}}</span>
          </a>
          <a class="quick-add-btn" [routerLink]="['companies/new']">
            <i class="fa fa-building"></i>
            <div> New Company </div>
          </a>
          <a class="quick-add-btn" [routerLink]="['case/edit/new']">
            <i class="pp-icon-intake-forms"></i>
            <div> New Case </div>
            <span class="badge badge-primary">{{dashboardData.casesTotal}}</span>
          </a>
          <a class="quick-add-btn" [routerLink]="['case-expense/new']">
            <i class="pp-icon-expenses"></i>
            <div> Add Expense </div>
          </a>

          <a class="quick-add-btn" [routerLink]="['expense-type/new']">
            <i class="fa fa-money"></i>
            <div> Expense Type</div>
          </a>
          <a class="quick-add-btn" [routerLink]="['complain/new']">
            <i class="fa fa-exclamation"></i>
            <div>Add Complain</div>
          </a>

          <a class="quick-add-btn" [routerLink]="['case/0/time-tracking/new']">
            <i class="pp-icon-time-entries"></i>
            <div>Track Time</div>
          </a>


          <a class="quick-add-btn" [routerLink]="['case/0/note/new']">
            <i class="fa fa-file-text"></i>
            <div>Add Notes</div>
          </a>


          <a class="quick-add-btn" [routerLink]="['case/0/communication/new']">
            <i class="fa fa-comments-o"></i>
            <div>Add Communication</div>
          </a>


          <a class="quick-add-btn" [routerLink]="['case/0/evidence/new']">
            <i class="fa fa-suitcase"></i>
            <div>Add Evidence</div>
          </a>

          <a class="quick-add-btn" [routerLink]="['case/0/document/new']">
            <i class="fa fa-book"></i>
            <div>Add Document</div>
          </a>

        </div>
      </div>
    </div>
  </div>

</div>