<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ (paramId !='new') ? 'Modify':'Add' }} Case Expense</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form name="caseExpenseForm" (ngSubmit)="caseExpenseForm.form.valid && save()" #caseExpenseForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Case
                    <span class="req">*</span>
                  </label>
                  <select class="form-control" [(ngModel)]="model.CaseId" [class.inValidField]="caseExpenseForm.submitted && !model.CaseId"
                    id="CaseId" required name="CaseId" #CaseId="ngModel" (change)="caseSelectionChange()">
                    <option value="">Select Case</option>
                    <option *ngFor="let case of cases" value={{case.Id}}>
                      {{case.CaseNo}}
                    </option>
                  </select>
                  <label *ngIf="caseExpenseForm.submitted && !model.CaseId" class="error">
                    Please select case
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ExpenseName">Expense Name
                    <span class="req">*</span>
                  </label>
                  <input type="text" maxlength="250" id="ExpenseName" [class.inValidField]="caseExpenseForm.submitted && !ExpenseName.valid"
                    name="ExpenseName" required class="form-control" [(ngModel)]="model.ExpenseName" #ExpenseName="ngModel"
                  />
                  <label *ngIf="caseExpenseForm.submitted && !ExpenseName.valid" class="error">
                    Please enter Expense Name
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ExpenseDate">Expense Date
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" [(ngModel)]="model.ExpenseDate" required ngui-datetime-picker date-only="true" name="ExpenseDate"
                    id="ExpenseDate" #OpenDate="ngModel" [max-date]="max_date" [class.inValidField]="caseExpenseForm.submitted && !model.ExpenseDate"
                  />
                  <label *ngIf="caseExpenseForm.submitted && !model.ExpenseDate" class="error">
                    Please select expense date
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Category">Category
                    <span class="req">*</span>
                  </label>
                  <select class="form-control" [(ngModel)]="model.Category" required id="Category" name="Category" #Category="ngModel" [class.inValidField]="caseExpenseForm.submitted && !model.Category">
                    <option value=''>Select Expense Category</option>
                    <option *ngFor="let category of CategoryDropDown" value={{category.Id}}>
                      {{category.ExpenseTypeName}}
                    </option>
                  </select>
                  <label *ngIf="caseExpenseForm.submitted && !model.Category" class="error">
                    Please select Category
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Description">Description</label>
                  <textarea class="form-control" rows="3" id="Description" name="Description" maxlength="250" [(ngModel)]="model.Description"
                    #Description="ngModel"></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Amount">Amount
                    <span class="req">*</span>
                  </label>
                  <input class="form-control" type="number" [class.inValidField]="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors"
                    id="Amount" name="Amount" pattern="^\d+(\.\d{1,2})?$" step="0.01" [(ngModel)]="model.Amount" #Amount="ngModel"
                    required />
                  <label *ngIf="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors && Amount.errors['required']" class="error">
                    Please enter Amount</label>
                  <label *ngIf="(caseExpenseForm.submitted || Amount.dirty) && Amount.errors && Amount.errors['pattern']" class="error">
                    Enter Valid Amount</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="AssociateContactId">Associate Contact</label>
                  <input ngui-auto-complete class="form-control" [(ngModel)]="AssociateContactId" name="AssociateContactId" [source]="contactSearch.bind(this)"
                    min-chars="2" [list-formatter]="autocompleListFormatter" [accept-user-input]="false" (valueChanged)="onSelectContact($event)"
                    value-property-name="Id" display-property-name="Name" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Bill Document (Accept file types .doc,.pdf,.jpg,.jpeg,.png) less then 2 mb</label>
                  <!-- <div>{{ fileName || 'Select File'}}
                  </div>
                  <a href="javascript:void(0);" class="change btn btn-primary" (click)="fileUpload.click()">
                    <i class="fa fa-upload mr5"></i> Upload</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="downloadDocument()">
                    <i class="fa fa-download mr5" aria-hidden="true"></i>Download</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                    <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                  <input type="file" class="fileUpload" #fileUpload style="display:none" accept=".doc, application/pdf, image/jpg, image/jpeg, image/png"
                    #fileUpload style="display:none" (change)="onFileChange($event)" />
                  <div>
                    <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                    <label *ngIf="!validFileSize" class="error"> File size should less than 2 MB. </label>
                  </div> -->
                  <p-fileUpload #billDocument customUpload="true" auto="auto" (uploadHandler)="onFileChange($event)" (onRemove)="deleteDocument()">
                    <ng-template pTemplate="file">
                      <div></div>
                    </ng-template>
                    <ng-template pTemplate="content">
                      <div>Drag & Drop file here</div>
                    </ng-template>
                  </p-fileUpload>
                  <div class="m-t-sm">
                    <span *ngIf="fileName">{{fileName | limitTo: 35 }}</span>
                    <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="downloadDocument()">
                      <i class="fa fa-download mr5" aria-hidden="true"></i>Download</a>
                    <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                      <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                  </div>
                  <div>
                    <label *ngIf="!validFileType" class="error"> Invalid File Type </label>
                    <label *ngIf="!validFileSize" class="error"> File size should less than 2 MB. </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>