<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Communication Dashboard
      <a [routerLink]="['../../../view/',caseDetails.Id]">{{caseDetails.CaseNo}}</a>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['../../']">Home</a>
      </li>
      <li>
        <a [routerLink]="['../../../']">Case</a>
      </li>
      <li class="active">
        <strong>Communication Dashboard</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-4">
    <button type="button" class="btn btn-create pull-right m-t-md m-r-md" kendoButton (click)="addClick()">
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    <button type="button" class="btn btn-create pull-right m-t-md m-r-md" kendoButton (click)="goTOListClick()">
      <i class="fa fa-list-ul" aria-hidden="true"></i> Go to List</button>
  </div>
</div>


<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile Detail</h5>
        </div>
        <div>
          <div class="ibox-content no-padding border-left-right">
            <img [src]="url" class="comm-detail-icon" alt="">
          </div>
          <div class="ibox-content profile-content">
            <p>
              <strong>{{caseDetails.CaseNo}}</strong> Case No
            </p>
            <p>
              <strong>{{caseDetails.CaseType}}</strong> Case Type
            </p>
            <div class="profile-sidebar-item profile-bio">
              <h4>
                <strong class="bold text-uppercase">Description</strong>
              </h4>
              <p>{{caseDetails.Description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Activites</h5>

        </div>
        <div class="ibox-content">

          <div>
            <div class="feed-activity-list">

              <div class="feed-element">
                <div class="media-body ">
                  <section class="profile-timeline" *ngFor="let communication of caseCommunications | orderBy : 'CommunicateDate': true">
                    <div class="profile-timeline-header ">
                      <div class="profile-timeline-user-details ">
                        <i class="fa" [ngClass]="{'fa-phone': communication.CommunicationType === 'Phone Call',
                        'fa-envelope': communication.CommunicationType === 'Email', 
                        'fa-fax': communication.CommunicationType === 'Fax',
                        'fa-address-card': communication.CommunicationType === 'Message' }"></i>
                        <b>{{communication.CommunicateFromName.replace(',',' ')}}:</b>
                        <a href=javascript:; class="bold ">{{communication.Summary}}</a>
                        <br>
                        <b>To: {{communication.CommunicateToName.replace(',',' ')}} </b>
                        <em class="text-success small ">{{communication.CommunicateDate | date: 'dd/MM/yyyy'}}</em>
                      </div>
                    </div>
                    <div class="profile-timeline-content ">
                      <p>
                        {{communication.CommunicationDetails}}
                      </p>
                      <!-- <a class="mr15" href="javascript:;" (click)="editComment(communication.Id)">
                        <i class="fa fa-edit mr5"></i>Edit </a> -->
                    </div>
                  </section>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>