<div class="passwordBox animated fadeInDown">
  <div class="row">

    <div class="col-md-12">
      <div class="ibox-content">

        <h2 class="font-bold">Forgot password</h2>

        <p>
          Enter your email address and your password will be reset and emailed to you.
        </p>

        <div class="row">

          <div class="col-lg-12 text-center">
            <form class="m-t" role="form" name="forgotPasswordForm" (ngSubmit)="f.form.valid && forgotPassword()" #f="ngForm" novalidate>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email address" name="emailAddress" [(ngModel)]="email" #emailAddress="ngModel"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$" required>
                <label *ngIf="f.submitted && !emailAddress.valid" class="error">
                  Please enter valid email address
                </label>
              </div>
              <label *ngIf="error" class="error">
                {{ error }}
              </label>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary block full-width m-b">Send new password</button>
              <br />
              <a [routerLink]="['../login']">
                <small>Back to Login</small>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      zero to one aspire
    </div>
    <div class="col-md-6 text-right">
      <small> © 2018</small>
    </div>
  </div>
</div>