<div (click)="timerClick($event, op3)">
  <div *ngIf="started">{{hours | numberpad: 2}}:{{minutes | numberpad: 2}}:{{seconds | numberpad: 2}}</div>
  <div *ngIf="!started">
    <i class="fa fa-clock-o mr5"></i>
    Start Timer
  </div>
</div>
<p-overlayPanel [showCloseIcon]="true" styleClass="calander-overlay" appendTo="body" class="calander-overlay" #op3>
  <div>
    <div class="calander-popup-title ">
      <h3>Timer</h3>
    </div>
    <div>
      <span (click)="toggleTimer()">
        <i class="fa" [ngClass]="{'fa-play': !running, 'fa-pause':running}"></i>
      </span>
      <div>{{hours | numberpad: 2}}:{{minutes | numberpad: 2}}:{{seconds | numberpad: 2}}</div>
    </div>
    <div>
      <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
        <i class="fa fa-times-circle mr5"></i> Cancel
      </a>
      <button type="button" (click)="SaveClick($event, op3)" class="btn btn-primary mr5">
        <i class="fa fa-check mr5"></i> Save
      </button>
    </div>
  </div>
</p-overlayPanel>