<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle mouse-pointer" src="assets/images/profile_small.jpg" [routerLink]="['./']">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">David Williams</strong>
              </span>
              <span class="text-muted text-xs block">Art Director
                <b class="caret"></b>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a>Profile</a>
            </li>
            <li>
              <a (click)="router.navigate(['/change-theme'])">Change Theme</a>
            </li>
            <li>
              <a>Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element mouse-pointer" (click)="goToHome()">
          LD+
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('contactcompanies')}">
        <a>
          <i class="fa fa-user"></i>
          <span class="nav-label">Contacts</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li [ngClass]="{active: activeRoute('companies')}">
            <a [routerLink]="['companies']">
              <i class="fa fa-address-card"></i>
              <span class="nav-label">Company Contacts</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('companies')}">
            <a [routerLink]="['contact']">
              <i class="fa fa-user"></i>
              <span class="nav-label">General Contacts</span>
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('case')}">
        <a>
          <i class="fa fa-briefcase"></i>
          <span class="nav-label">Case</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li [ngClass]="{active: activeRoute('case')}">
            <a [routerLink]="['case']">
              <span class="nav-label">Case List</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('case')}">
            <a [routerLink]="['case/new']">
              <span class="nav-label">Add Case</span>
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('case-expense')}">
        <a>
          <i class="fa fa-inr"></i>
          <span class="nav-label">Case Expense</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li [ngClass]="{active: activeRoute('case-expense')}">
            <a [routerLink]="['case-expense']">
              <span class="nav-label">Case Expense List</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('case-expense')}">
            <a [routerLink]="['case-expense/new']">
              <span class="nav-label">Add Case Expense</span>
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('complain')}">
        <a>
          <i class="fa fa-list-alt"></i>
          <span class="nav-label">Complain</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li [ngClass]="{active: activeRoute('complain')}">
            <a [routerLink]="['complain']">
              <span class="nav-label">Complain List</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('complain')}">
            <a [routerLink]="['complain/new']">
              <span class="nav-label">Add Complain</span>
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('expense-type')}">
        <a>
          <i class="fa fa-sitemap"></i>
          <span class="nav-label">Expense Types</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li [ngClass]="{active: activeRoute('expense-type')}">
            <a [routerLink]="['expense-type']">
              <span class="nav-label">Expense Type List</span>
            </a>
          </li>
          <li [ngClass]="{active: activeRoute('expense-type')}">
            <a [routerLink]="['expense-type/new']">
              <span class="nav-label">Add Expense Type</span>
            </a>
          </li>
        </ul>
      </li>
      <li [ngClass]="{active: activeRoute('events')}">
        <a [routerLink]="['events']">
          <i class="fa fa-user-plus"></i>
          <span class="nav-label">Events</span>
        </a>
      </li>
    </ul>

  </div>
</nav>