<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img class="img-circle mouse-pointer" alt="image" [routerLink]="['./']" *ngIf="imgBase64" [src]="imgBase64" />
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{userName}}</strong>
                <b class="caret"></b>
              </span>
              <span class="text-muted text-xs block">

              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a (click)="editProfile()">Edit Profile</a>
            </li>
            <li>
              <a (click)="changeTheme()">Change Theme</a>
            </li>
            <li>
              <a>Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element mouse-pointer" (click)="goToHome()">
          LD+
        </div>
      </li>
      <li>
        <a>
          <i class="fa fa-user"></i>
          <span class="nav-label">Contacts</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li (click)='currentMenu = "Company"' [ngClass]="{active: currentMenu === 'Company'}">
            <a [routerLink]="['companies']">
              <i class="fa fa-address-card"></i>
              <span class="nav-label">Company Contacts</span>
            </a>
          </li>
          <li (click)='currentMenu = "Contact"' [ngClass]="{active: currentMenu === 'Contact'}">
            <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> -->
            <a [routerLink]="['contact']">
              <i class="fa fa-user"></i>
              <span class="nav-label">General Contacts</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <i class="fa fa-briefcase"></i>
          <span class="nav-label">Case</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li (click)='currentMenu = "CaseList"' [ngClass]="{active: currentMenu === 'CaseList'}">
            <a [routerLink]="['case']">
              <span class="nav-label">Case List</span>
            </a>
          </li>
          <li (click)='currentMenu = "CaseAdd"' [ngClass]="{active: currentMenu === 'CaseAdd'}">
            <a [routerLink]="['case/edit/new']">
              <span class="nav-label">Add Case</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <i class="fa fa-inr"></i>
          <span class="nav-label">Case Expense</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li (click)='currentMenu = "ExpenseList"' [ngClass]="{active: currentMenu === 'ExpenseList'}">
            <a [routerLink]="['case-expense']">
              <span class="nav-label">Case Expense List</span>
            </a>
          </li>
          <li (click)='currentMenu = "ExpenseAdd"' [ngClass]="{active: currentMenu === 'ExpenseAdd'}">
            <a [routerLink]="['case-expense/new']">
              <span class="nav-label">Add Case Expense</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <i class="fa fa-list-alt"></i>
          <span class="nav-label">Complain</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li (click)='currentMenu = "ComplainList"' [ngClass]="{active: currentMenu === 'ComplainList'}">
            <a [routerLink]="['complain']">
              <span class="nav-label">Complain List</span>
            </a>
          </li>
          <li (click)='currentMenu = "ComplainAdd"' [ngClass]="{active: currentMenu === 'ComplainAdd'}">
            <a [routerLink]="['complain/new']">
              <span class="nav-label">Add Complain</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          <i class="fa fa-sitemap"></i>
          <span class="nav-label">Expense Types</span>
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li (click)='currentMenu = "ExpenseTypeList"' [ngClass]="{active: currentMenu === 'ExpenseTypeList'}">
            <a [routerLink]="['expense-type']">
              <span class="nav-label">Expense Type List</span>
            </a>
          </li>
          <li (click)='currentMenu = "ExpenseTypeAdd"' [ngClass]="{active: currentMenu === 'ExpenseTypeAdd'}">
            <a [routerLink]="['expense-type/new']">
              <span class="nav-label">Add Expense Type</span>
            </a>
          </li>
        </ul>
      </li>
      <li (click)='currentMenu = "Events"' [ngClass]="{active: currentMenu === 'Events'}">
        <a [routerLink]="['events']">
          <i class="fa fa-user-plus"></i>
          <span class="nav-label">Events</span>
        </a>
      </li>
    </ul>

  </div>
</nav>