<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Case Expenses</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['../../']">Home</a>
      </li>
      <li class="active">
        <strong>Case Expenses</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary pull-right m-t-md" [routerLink]="['../../case-expense/new']">
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight nested-grid">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">

          <div class="row m-b-10">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xs-6">
              <p-calendar inputStyleClass="form-control" placeholder="Filter by date" dateFormat="yy-mm-dd" [(ngModel)]="dateRange" selectionMode="range"
                readonlyInput="true"></p-calendar>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
              <button class="btn btn-primary" (click)="filterByDate()">Filter</button>
              <button class="btn btn-danger" *ngIf="isFilterd" (click)="resetFilter()">Reset</button>
            </div>
          </div>

          <p-dataTable [rowHover]="true" [value]="rows" [responsive]="true" expandableRows="false" [loading]="loadingIndicator" loadingIcon="fa-spinner">
            <p-column expander="true" styleClass="col-icon expand-icon">
            </p-column>
            <p-column field="CaseNo" header="Case No">
            </p-column>
            <p-column header="Total">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <b>{{data.Amount}}</b>
              </ng-template>
            </p-column>
            <ng-template let-data pTemplate="rowexpansion">
              <p-dataTable [rowHover]="true" [value]="data.Categories" [responsive]="true" expandableRows="false" [loading]="loadingIndicator"
                loadingIcon="fa-spinner">
                <p-column expander="true" styleClass="col-icon expand-icon">
                </p-column>
                <p-column field="Category" header="Category">
                </p-column>
                <p-column header="Total">
                  <ng-template let-col let-data="rowData" pTemplate="body">
                    <b>{{data.Amount}}</b>
                  </ng-template>
                </p-column>
                <ng-template let-expenseDetail pTemplate="rowexpansion">
                  <p-dataTable [rowHover]="true" [value]="expenseDetail.expenseDetails" [responsive]="true" expandableRows="false" [loading]="loadingIndicator"
                    loadingIcon="fa-spinner">
                    <p-column field="ExpenseName" header="Expense Name"> </p-column>
                    <p-column field="ExpenseDate" header="Expense Date">
                      <ng-template let-col let-data="rowData" pTemplate="body">
                        <span>{{data[col.field] | date: 'dd/MM/yyyy'}}</span>
                      </ng-template>
                    </p-column>
                    <p-column field="Amount" header="Amount">
                    </p-column>
                    <p-column styleClass="col-button">
                      <ng-template pTemplate="header">
                        Actions
                      </ng-template>
                      <ng-template let-data="rowData" pTemplate="body">
                        <button (click)="editClick(data.Id)" title="Edit" class="btn-white btn btn-xs">
                          <i class="fa fa-edit" aria-hidden="true"></i>
                        </button>
                        <button (click)="deleteClick(data)" title="delete" class="btn-white btn btn-xs">
                          <i class="fa fa-trash"></i>
                        </button>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                </ng-template>
              </p-dataTable>
            </ng-template>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>