<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Time Tracking for Case Number {{caseDetail.CaseNo}}</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-create pull-right" kendoButton (click)="createNewTimeTracking()">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
    </div>
  </div>
  <div class=panel-body>


    <p-dataTable [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
      loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)">
      <p-column field="ContactName" [filter]="true" [sortable]="true" header="Contact Name"></p-column>

      <p-column field="TaskCategoryName" [filter]="true" [sortable]="true" header="Task Category"></p-column>

      <p-column field="WorkedHours"  [sortable]="true" header="Worked Hours"></p-column>

      <p-column field="BilledHours"  [sortable]="true" header="Billed Hours"></p-column>

      <p-column field="Rate" [filter]="true" [sortable]="true" header="Rate"></p-column>

      <p-column field="DontBill"  [sortable]="true" header="Do not Bill">
        <ng-template let-col let-data="rowData" pTemplate="body">
          <span>{{data[col.field] ? 'true': 'false'}}</span>
        </ng-template>
      </p-column>
      <p-column header="Actions">
        <ng-template let-data="rowData" pTemplate="body">
          <button (click)="editClick(data.Id)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteClick(data.Id)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>