<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Expense Types</h2>
  </div>
  <div class="col-lg-2">
    <button type="button" class="btn btn-primary pull-right m-t-md" (click)='router.navigate(["/expense-type/new"])'>
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p-dataTable [value]="rows" [responsive]="true" [loading]="loadingIndicator" loadingIcon="fa-spinner" #dt>
            <p-column field="ExpenseTypeName" [filter]="true" [sortable]="true" header="Expense Type Name"></p-column>
            <p-column field="BasicPrice" [filter]="true" [sortable]="true" header="Basic Price"></p-column>
            <p-column header="Actions">
              <ng-template let-data="rowData" pTemplate="body">
                <button title="Edit" (click)="editClick(data.Id)" md-icon-button>
                  <i class="fa fa-edit"></i>
                </button>
                <button title="Delete" (click)="deleteClick(data.Id)" md-icon-button>
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>