<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-6">
    <h2>Case Evidence List for
      <a [routerLink]="['../../view/',caseDetail.Id]">{{caseDetail.CaseNo}}</a>
    </h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['../../../']">Home</a>
      </li>
      <li>
        <a [routerLink]="['../../']">Case</a>
      </li>
      <li class="active">
        <strong>Evidence</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-6">
    <button type="button" class="btn btn-primary pull-right m-t-md" [routerLink]="['../../']">
      <i class="fa fa-reply" aria-hidden="true"></i> Back to Case</button>
    <button type="button" class="btn btn-primary pull-right mr5 m-t-md" (click)='createNewEvidence()'>
      <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <p-dataTable [rowHover]="true" [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
            loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)"
            #dt>
            <p-column field="EvidenceName" [filter]="true" [sortable]="true" header="Evidence Name"></p-column>
            <p-column header="Evidence File">
              <ng-template let-data="rowData" pTemplate="body">
                <span class="pointer-cursor" (click)="data.FileName && downloadEvidence(data.Id)">
                  <i class="fa fa-file" aria-hidden="true"></i>
                </span>
              </ng-template>
            </p-column>

            <p-column header="Actions">
              <ng-template let-data="rowData" pTemplate="body">
                <button (click)="editClick(data.Id)" class="btn-white btn btn-xs">
                  <i class="fa fa-edit"></i>
                </button>
                <button (click)="deleteClick(data.Id, dt)" class="btn-white btn btn-xs">
                  <i class="fa fa-trash"></i>
                </button>
              </ng-template>

            </p-column>
          </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>