<div class=panel>
  <div class="panel-heading border">
    <span class="pull-left">
      <b>Case Evidence List for case number {{caseDetail.CaseNo}}</b>
    </span>
    <div class="pb30">
      <button type="button" class="btn btn-create pull-right" kendoButton (click)="createNewEvidence()">
        <i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
      <button type="button" class="btn btn-primary pull-right mr5" (click)="router.navigate(['/case'])">
        <i class="fa fa-reply" aria-hidden="true"></i> Back to Case</button>
    </div>

  </div>
  <div class=panel-body>
    <p-dataTable [value]="rows" [lazy]="true" [rows]="pageSize" [paginator]="true" [responsive]="true" [loading]="loadingIndicator"
      loadingIcon="fa-spinner" #dt [totalRecords]="page.totalElements" (onLazyLoad)="setPage($event)" (onPage)="paginate($event)"
      #dt>
      <p-column field="EvidenceName" [filter]="true" [sortable]="true" header="Case Number"></p-column>
      <p-column header="Evidence File">
        <ng-template let-data="rowData" pTemplate="body">
          <span class="pointer-cursor" (click)="data.FileName && downloadEvidence(data.Id)">
            {{data.FileName}}
          </span>
        </ng-template>
      </p-column>

      <p-column header="Actions">
        <ng-template let-data="rowData" pTemplate="body">
          <button (click)="editClick(data.Id)" md-icon-button>
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="deleteClick(data.Id, dt)" md-icon-button>
            <i class="fa fa-trash"></i>
          </button>
        </ng-template>

      </p-column>
    </p-dataTable>
  </div>
</div>