<div>
  <div class="panel mb25">
    <div class="panel-heading border">
      <b>{{ (paramId !='new') ? 'Modify':'Add' }} Case Evidence for Case number {{caseModel.CaseNo}}</b>
    </div>
    <div class=panel-body>
      <div class="row no-margin">
        <div class=col-lg-12>
          <form name="evidenceForm" (ngSubmit)="evidenceForm.form.valid && save()" #evidenceForm="ngForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="EvidenceName">Evidence Name
                    <span class="req">*</span>
                  </label>
                  <input type="text" class="form-control" [(ngModel)]="model.EvidenceName" [class.inValidField]="evidenceForm.submitted && !EvidenceName.valid"
                    id="CaseId" required name="EvidenceName" #EvidenceName="ngModel" />
                  <label *ngIf="evidenceForm.submitted && !EvidenceName.valid" class="err-label">
                    Please enter Case Evidence Name
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Case Evidence File (Accept file types .doc,.pdf,.jpg,.jpeg,.png) less then 2 mb</label>
                  <div>{{ fileName || 'Select File'}}
                  </div>
                  <a href="javascript:void(0);" class="change btn btn-primary" (click)="fileUpload.click()">
                    <i class="fa fa-upload mr5"></i> Upload</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="downloadDocument()">
                    <i class="fa fa-download mr5" aria-hidden="true"></i>Download</a>
                  <a href="javascript:void(0);" class="change btn btn-primary" *ngIf="fileName" (click)="deleteDocument()">
                    <i class="fa fa-trash mr5" aria-hidden="true"></i>Delete</a>
                  <input type="file" class="fileUpload" #fileUpload style="display:none" accept=".doc, application/pdf, image/jpg, image/jpeg, image/png"
                    #fileUpload style="display:none" (change)="onFileChange($event)" />
                  <div>
                    <label *ngIf="!validFileType" class="err-label"> Invalid File Type </label>
                    <label *ngIf="!validFileSize" class="err-label"> File size should less than 2 MB. </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <a href=javascript:; (click)="onCancelClick()" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Cancel
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
  <div class="clr"></div>
</div>