/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~sweetalert2/dist/sweetalert2.min.css';
@import '~primeng/resources/themes/omega/theme.css';
@import '~primeng/resources/primeng.min.css';

@font-face {
  font-family: 'pp-font';
  src: url('./fonts/the-law-font.ttf');
  src: url('./fonts/the-law-font.ttf') format('embedded-opentype'), 
  url('./fonts/the-law-font.ttf') format('truetype'),
  url('./fonts/the-law-font.ttf') format('woff'), url('./fonts/the-law-font.ttf') format('svg');
  font-weight: normal;
  font-style: normal;
}
#page-wrapper {
    height: 100%;
}

.custom-ibox-title {
    border: none !important;
    padding-top: 0px !important;
}

.custom-ibox-tool-btn {
    padding: 3px 5px;
}

.pl0 {
    padding-left: 0px !important;
}

.big-icon { 
    font-size:25px !important;
}

.important-icon {
    cursor: pointer;
}

.mouse-pointer {
    cursor: pointer;
}

.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.5;
}
.widget:hover, .widget.active {
    box-shadow: 7px 10px 14px rgb(111, 105, 105);
    opacity: 1;
}

.btn-create{background: #09a287; color: #FFFFFF;}
.btn-create:hover{background: #076d5a; color: #FFFFFF;}

.mr5 {
    margin-right: 5px;
}

.selected-list .c-btn{
    box-shadow:none !important;
    padding: 5px !important;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
}

.ui-widget-content a{
    color: #fff;
}

.inValidField {border-color: red;}
.req {color: red;}

.swal2-popup .swal2-styled.swal2-confirm{
    background-color: #ce402f !important;
}

.empty-row {text-align: center !important; padding:15px !important; font-weight: bold;}

.nested-grid .ui-datatable-reflow .ui-datatable-data th .ui-column-title { display: block;}
.nested-grid thead th {text-align: left !important;}
.time-tracking-form .form-group .ui-calendar { width: 100%;}
.form-group .ui-calendar input:focus{ border-color:#0ac2ff; box-shadow: none;}
.ui-datepicker .fa {color: black;}
.inValidField input {border-color: red;}
span.ui-calendar {width: 100%;}
.ui-calendar input {border-radius: 0;}
.calander-overlay .ui-overlaypanel-content{
  width: 400px;
  max-width: 400px;
  min-height: 120px;
  max-height: 300px;
  background-color:#7986CB;
  color: #fff;  
}
.calander-popup-details {display: flex;}
.calander-popup-title {
  min-height: 80px;
  max-height: 80px;
}
.cal-popup-data {
  margin-left:15px; 
}
.calander-popup-title .fa{ font-size: 15px;margin-right: 10px;}
.calander-popup-title .action {cursor: pointer;}
.comm-detail-icon {
  width: 100%;
  display: block;
  height: auto;
  max-height: 300px;
}

.contact-image-preview { height:150px; width: 110px;}
.img-wrap { width: 100px; position: relative;}
.delete-photo-icon { 
  /* background-image: url("/assets/images/close-cancel.png"); */
  position: absolute; top: -12px; right: -13px; z-index: 100; height: 20px;width: 20px; background-size: 20px;
  background-repeat: no-repeat; cursor: pointer;
}

.contact-grid a {color: blue;}

form select:disabled {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form select:disabled::-ms-expand {
  display: none;
}
.b-r {
  border-right: 1px solid black;
} 
.mt5 {margin-top: 5px;}
.m-b-10 {margin-bottom: 10px;}
.quick-add-btn {
 
  -moz-box-shadow: none !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -webkit-box-shadow: none !important;
  -webkit-transition: all 0.3s ease !important;
  background-color: #fafafa !important;
  background-image: none !important;
  border: 1px solid #ddd;
  box-shadow: none !important;
  color: #646464 !important;
  cursor: pointer;
  display: inline-block !important;
  filter: none !important;
  margin: 5px 5px 0 0;
  min-width: 80px;
  position: relative;
  text-align: center;
  text-shadow: none !important;
  transition: all 0.3s ease !important;
  height: auto;
  width: 150px;
  padding: 12px 0px 8px 0px;
  border-radius: 10px !Important;
  margin:15px 15px 0px 0px ;
}
.quick-add-btn i{
 font-size: 40px;
}
.icon-btn div{
  font-weight:400;
}
.dashboard-widget-container .widget {opacity: 1;}
.ui-state-highlight {color: black}
.quick-add-container .badge{top: -8px; position: absolute;right: -10px;}

.expand-icon { width: 28px;}
.ui-datatable a.view-detail {color: blue;}
[class^="pp-icon-"], [class*="pp-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pp-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pp-icon-trust:before{content: "\e914"}
.pp-icon-payments::before {content: "\e90f"}
.pp-icon-due:before { content: "\e904";}
.pp-icon-billable:before {content: "\e901";}

.pp-icon-rocket:before {
  content: "\e917";
}

.pp-icon-activities:before {
  content: "\e900";
}

.pp-icon-contacts:before {
  content: "\e902";
}

.pp-icon-dashboard:before {
  content: "\e903";
}

.pp-icon-due:before {
  content: "\e904";
}

.pp-icon-events:before {
  content: "\e905";
}

.pp-icon-expenses:before {
  content: "\e906";
}

.pp-icon-files:before {
  content: "\e907";
}

.pp-icon-intake-forms:before {
  content: "\e908";
}

.pp-icon-invoices:before {
  content: "\e909";
}

.pp-icon-items:before {
  content: "\e90a";
}

.pp-icon-log-calls:before {
  content: "\e90b";
}

.pp-icon-matters:before {
  content: "\e90c";
}

.pp-icon-messages:before {
  content: "\e90d";
}

.pp-icon-notes:before {
  content: "\e90e";
}

.pp-icon-payments:before {
  content: "\e90f";
}

.pp-icon-reports:before {
  content: "\e910";
}

.pp-icon-tasks:before {
  content: "\e911";
}

.pp-icon-templates:before {
  content: "\e912";
}

.pp-icon-time-entries:before {
  content: "\e913";
}

.pp-icon-trust:before {
  content: "\e914";
}

.pp-icon-user:before {
  content: "\e915";
}

.pp-icon-workflows:before {
  content: "\e916";
}

.pp-3x {font-size:3em; }
/* .quick-add-container {display: flex;} */
/* label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
} */

/* .pb30 {
    padding-bottom: 30px;
}

.p10{
    padding: 10px;
}



.ml5 {
    margin-left: 5px;
}

.mb20{
    margin-bottom: 20px;
}

.bottom-border{
    border-bottom: 1px solid rgba(0,0,0,.06);
    padding-bottom: 10px;
    padding-top: 15px;
}


.big-icon { font-size:25px;}
.pointer-cursor {cursor: pointer;}




.c-btn{
    border-radius: 0px !important;
}

.selected-list .c-btn{
    box-shadow:none !important;
    padding: 4.5px !important;
}

.datatable-row-odd {background-color: rgba(0, 0, 0, 0.05)}
.ngx-datatable.material .datatable-footer {background: #424242; color: #ededed;}
.column-filter-input { width:100%;height:27px;border:1px solid gray; padding: 5px; border-radius: 4px;}
.column-filter-label{height:10px;cursor:pointer;}
.c-btn {box-shadow: none !important;}
.important-icon {cursor: pointer;}
.btn-create{background: #09a287; color: #FFFFFF;}
.btn-create:hover{background: #076d5a; color: #FFFFFF;}

.btn-cancel{
    color: #fff !important;
    background-color: rgb(117, 117, 117) !important;
    border-color: rgb(117, 117, 117) !important;
}
.btn-cancel:hover{
    background-color: rgb(68, 68, 68) !important;
    border-color: rgb(68, 68, 68) !important;
}
.btn-default::before{
    background-color: rgb(68, 68, 68) !important;
    border-color: rgb(68, 68, 68) !important;
}




.panel-heading.border { 
    min-height: 50px;
    border-bottom: 2px solid #495469;
}

.custom-sort ~ .sort-btn{ float: right !important; position: relative !important;  top: -48px !important; }
.custom-sort label {
    cursor: pointer;
}

.tab-backgroud{
    background: #e0e8f2;
}



.btn-success::before{
    background-color: inherit !important;
}

.btn-danger::before{
    background-color: inherit !important;
}
.contact-dashboard-nav {background-color: #4cc3d9; color: #ffffff;}
.profile-bio { padding-left: 15px;}
.mb15 {margin-bottom: 15px;}
.mb5 {margin-bottom: 5px;}
.action-popover {width:20%}
.pl25 {padding-left: 25px;}
.pl15 {padding-left: 15px;}
.pr25 {padding-right: 25px;}
.pr15 {padding-right: 15px;}
.fa-star {color: #03a9f4; }
.mobile-type-select{ width: 20%; margin-bottom: 3px;}
.mr20 {margin-right: 20px;}

.datatable-body-cell {
    overflow-x: visible !important;
}

.case-expense-list-grid 
.datatable-header-cell,
.case-expense-list-grid  .datatable-header {
    overflow:visible !important;   
}
.case-expense-list-grid  .datatable-row-center{
   z-index:11;
}

.case-advance-search-form {display: inline; padding-left: 20px;}
.dropdown-menu li {
    cursor: pointer;
}
.case-panel-header {min-height: 65px !important;}
.global-search-input {width:30%;}
input:read-only {border: none;}
.expand-icon { width: 28px;}





.bg-brown.active {
    background-color: #2d221f;
}
.bg-success.active {
    background-color: #206f42;
}
.bg-warning.active {
    background-color: #ad7510;
}
.bg-lightgreen.active {
    background-color: #3b6906;
}
.bg-amber.active {
    background-color: #92700b;
}
.bg-lightblue.active {
    background-color: #0c5271;
} */

.skin-3 .btn-primary, .skin-3 .btn-create {
    background-color: #ecba52 !important;
    border-color: #ecba52 !important;
    color: #FFFFFF;
}

.skin-3 .btn-primary:hover, .skin-3 .btn-primary:active:hover, 
.skin-3 .btn-create:hover, .skin-3 .btn-create:active:hover {
    background: #ce8735 !important;
    border-color: #ce8735 !important;
}

.skin-1 .btn-primary, .skin-1 .btn-create {
    background-color: #0e9aef !important;
    border-color: #0e9aef !important;
    color: #FFFFFF;
}

.skin-1 .btn-primary:hover, .skin-1 .btn-primary:active:hover, 
.skin-1 .btn-create:hover, .skin-1 .btn-create:active:hover {
    background: #0d8ddb !important;
    border-color: #0d8ddb !important;
}

.ui-widget-header .ui-button, .ui-widget-content .ui-button, .ui-widget.ui-button, .ui-button {
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
}

.skin-1 .ui-widget-header .ui-button, .skin-1 .ui-widget-content .ui-button, .skin-1 .ui-widget.ui-button,
.skin-1 .ui-button {
  background-color: #0d8ddb !important;
  border-color: #0d8ddb !important;
}

.skin-3 .ui-widget-header .ui-button, .skin-3 .ui-widget-content .ui-button, .skin-3 .ui-widget.ui-button,
.skin-3 .ui-button {
  background-color: #ce8735 !important;
  border-color: #ce8735 !important;
}

.navbar-static-side {
    z-index: 1500 !important;
}

.case-evidence-chips  ul{
  min-height: 34px;

}
.case-evidence-chips  ul:focus{
  background-color: #1ab394 !important;
}

.case-evidence-chips ul li{
  margin-top: 5px;
}

/** checkbox style ***/

.checkbox {
    padding-left: 20px;
  }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  }
  .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
  }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .checkbox input[type="checkbox"]:focus + label::before,
  .checkbox input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .checkbox input[type="checkbox"]:checked + label::after,
  .checkbox input[type="radio"]:checked + label::after {
    font-family: "FontAwesome";
    content: "\f00c";
  }
  .checkbox input[type="checkbox"]:disabled + label,
  .checkbox input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .checkbox input[type="checkbox"]:disabled + label::before,
  .checkbox input[type="radio"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
  }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%;
  }
  .checkbox.checkbox-inline {
    margin-top: 0;
  }
  
  .checkbox-primary input[type="checkbox"]:checked + label::before,
  .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .checkbox-primary input[type="checkbox"]:checked + label::after,
  .checkbox-primary input[type="radio"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-danger input[type="checkbox"]:checked + label::before,
  .checkbox-danger input[type="radio"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  .checkbox-danger input[type="checkbox"]:checked + label::after,
  .checkbox-danger input[type="radio"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-info input[type="checkbox"]:checked + label::before,
  .checkbox-info input[type="radio"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
  }
  .checkbox-info input[type="checkbox"]:checked + label::after,
  .checkbox-info input[type="radio"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-warning input[type="checkbox"]:checked + label::before,
  .checkbox-warning input[type="radio"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  .checkbox-warning input[type="checkbox"]:checked + label::after,
  .checkbox-warning input[type="radio"]:checked + label::after {
    color: #fff;
  }
  
  .checkbox-success input[type="checkbox"]:checked + label::before,
  .checkbox-success input[type="radio"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  .checkbox-success input[type="checkbox"]:checked + label::after,
  .checkbox-success input[type="radio"]:checked + label::after {
    color: #fff;
  }
  
  .radio {
    padding-left: 20px;
  }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
  }
  .radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
  }
  .radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
  }
  .radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .radio input[type="radio"]:disabled + label {
    opacity: 0.65;
  }
  .radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
  }
  .radio.radio-inline {
    margin-top: 0;
  }
  
  .radio-primary input[type="radio"] + label::after {
    background-color: #337ab7;
  }
  .radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7;
  }
  .radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7;
  }
  
  .radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
  }
  .radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
  }
  
  .radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
  }
  .radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
  }
  .radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
  }
  
  .radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
  }
  .radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
  }
  .radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
  }
  
  .radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
  }
  .radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
  }
  
  input[type="checkbox"].styled:checked + label:after,
  input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
  }
  input[type="checkbox"] .styled:checked + label::before,
  input[type="radio"] .styled:checked + label::before {
    color: #fff;
  }
  input[type="checkbox"] .styled:checked + label::after,
  input[type="radio"] .styled:checked + label::after {
    color: #fff;
  }


  .color-blue{
    color: #337ab7;
  }

  .widget.style1 h2 {
    font-size: 20px;
  }

  .dropdown-menu {
    min-width: 140px;
  }

  .mb0 {
    margin-bottom: 0px !important;
  }

  .timer-inner {
    padding-top: 4px;
    padding-bottom: 0px;
    text-align: center;
}

.timer-button {
  color: #368ee0;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-bottom: 10px;
  font-weight: 100;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 0px !important;
  font-size: 2em;
}
.timer-time {
  font-size: 2.5em;
  color: #A4A5A5;
  display: inline;
}

.timer-overlay .ui-overlaypanel-content{
  width: 250px;
  max-width: 250px;
  min-height: 150px;
  max-height: 300px;
  background-color:#fff;
  color: #000;  
}

.label-stopwatch {
  display: block;
  font-size: 35px;
  margin-top: 10px;
  background-color: transparent !important;
  color: #6b6b6b !important;
}

.width100{
  width: 100%;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt8 {
  padding-top: 8px;
}
.fc-right .fc-button-group .ui-button{margin-right: 5px !important;}
.fc-right .fc-button-group .ui-button.ui-state-active {opacity: .7 !important ;}
.fc-day {cursor: pointer;}