<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>{{ (paramId !='new') ? 'Modify':'Add' }} Company</h2>
    <ol class="breadcrumb">
      <li>
        <a [routerLink]="['../../']">Home</a>
      </li>
      <li>
        <a [routerLink]="['../../companies']">Companies</a>
      </li>
      <li class="active">
        <strong>{{ (paramId !='new') ? 'Modify':'Add' }} Company</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form name="companyForm" (ngSubmit)="companyForm.form.valid && save()" #companyForm="ngForm" novalidate>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CaseId">Company Logo</label>
                  <div class="img-wrap">
                    <a class="delete-photo-icon" (click)="deleteLogo()">
                      <i class="fa fa-times-circle pull-right"></i>
                    </a>
                    <!-- <span class="delete-photo-icon" (click)="deleteLogo()"></span> -->
                    <img [src]="url" class="contact-image-preview">
                  </div>
                  <div>{{fileToUpload?.name || 'Select Image'}}</div>
                  <div *ngIf="!validFileType">
                    <label class="error"> Invalid File Type </label>
                  </div>
                  <a href="javascript:void(0);" class="change btn btn-primary" (click)="fileUpload.click()">
                    <i class="fa fa-upload mr5"></i> Upload</a>
                  <input type="file" class="fileUpload" accept="image/*" #fileUpload style="display:none" #fileUpload style="display:none"
                    (change)="onFileChange($event)" />
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CompanyName">Company Name
                    <span class="req">*</span>
                  </label>
                  <input type="text" maxlength="50" id="CompanyName" [class.inValidField]="companyForm.submitted && !companyForm.CaseId" name="CompanyName"
                    required class="form-control" [(ngModel)]="model.CompanyName" #CompanyName="ngModel" />
                  <label *ngIf="companyForm.submitted && !CompanyName.valid" class="error">
                    Please enter Company Name
                  </label>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="InsdustrySection">Insdustry Sector
                  </label>
                  <input type="text" maxlength="50" id="InsdustrySection" name="InsdustrySection" class="form-control" [class.inValidField]="companyForm.submitted && !InsdustrySection.valid"
                    [(ngModel)]="model.InsdustrySection" #InsdustrySection="ngModel" />
                  <label *ngIf="companyForm.submitted && !InsdustrySection.valid" class="error">
                    Please enter Insdustry Section
                  </label>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Category">Category</label>
                  <input type="text" maxlength="50" id="Category" name="Category" class="form-control" [(ngModel)]="model.Category" #Category="ngModel"
                  />
                  <label *ngIf="companyForm.submitted && !Category.valid" class="error">
                    Please enter Category
                  </label>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CompanySize">Company Size</label>
                  <input type="number" pattern="^\d+(\.\d{1,2})?$" step="1" id="CompanySize" name="CompanySize" class="form-control" [(ngModel)]="model.CompanySize"
                    #CompanySize="ngModel" />
                  <label *ngIf="companyForm.submitted && !CompanySize.valid" class="error">
                    Please enter CompanySize
                  </label>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="Website">Website</label>
                  <input type="text" maxlength="100" id="Website" name="Website" class="form-control" [(ngModel)]="model.Website" #Website="ngModel"
                  pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$" placeholder="http://www.domain.com"/>
                  <label *ngIf="companyForm.submitted && !Website.valid" class="error">
                    Please enter valid Website
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="ContactIds">Contacts</label>
                  <angular2-multiselect [data]="contacts" [(ngModel)]="selectedContacts" [settings]="settings" class="form-control" #ContactIds="ngModel"
                    name="ContactIds" id="ContactIds">
                  </angular2-multiselect>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="CINNumber">CIN Number</label>
                  <input type="text" maxlength="100" id="CINNumber" name="CINNumber" class="form-control" [(ngModel)]="model.CINNumber" #CINNumber="ngModel"
                  />
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="ibox-title custom-ibox-title">
              <h5>
                Email Addresses
                <span class="req">*</span>
              </h5>
              <div class="ibox-tools">
                <button class="btn btn-create pull-right custom-ibox-tool-btn" (click)="addEmail()">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add Email
                </button>
              </div>
            </div>
            <div class="row pt15">
              <div class="col-sm-6" *ngFor="let emailControl of emailSet let i = index; let j;">
                <div *ngIf="!emailControl.IsDeleted">
                  <div class="form-group">
                    <label for="EmailId{{i}}">Email Address</label>
                    <a *ngIf="!emailControl.IsPrimary" (click)="emailControl.IsDeleted = true">
                      <i class="fa fa-times-circle pull-right"></i>
                    </a>
                    <input class="form-control" type="email" id="EmailId{{i}}" name="EmailId{{i}}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$"
                      [(ngModel)]="emailControl.EmailId" />
                  </div>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="ibox-title custom-ibox-title">
              <h5>Contact Numbers
                <span class="req">*</span>
              </h5>
              <div class="ibox-tools">
                <button class="btn btn-create pull-right custom-ibox-tool-btn" (click)="addMobile()">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add Contact
                </button>
              </div>
            </div>
            <div class="row pt15">
              <div class="col-sm-6" *ngFor="let mobileControl of mobileSet let i = index">
                <div *ngIf="!mobileControl.IsDeleted">
                  <div class="form-group">
                    <div>
                      <label for="MobileNumber{{i}}">Contact number</label>
                    </div>
                    <a *ngIf="!mobileControl.IsPrimary" (click)="mobileControl.IsDeleted = true">
                      <i class="fa fa-times-circle pull-right"></i>
                    </a>
                    <div class="form-group col-md-6 pl0">
                      <select class="form-control pull-right mobile-type-select" name="MobileType{{i}}" [(ngModel)]="mobileControl.MobileType">
                        <option value="work">Work</option>
                        <option value="home">Home</option>
                        <option value="office">Office</option>
                        <option value="fax">Fax</option>
                        <option value="mobile">Mobile</option>
                      </select>
                    </div>
                    <div class="mr20 col-md-6">
                      <div class="checkbox">
                        <input type="checkbox" [disabled]="mobileControl.isDisabled" (change)="changeIsPrimary(mobileControl)" [(ngModel)]="mobileControl.IsPrimary"
                          name="mobileIsPrimary{{i}}">
                        <label>
                          Registered Contact
                        </label>
                      </div>
                    </div>
                    <div class="col-md-12 pl0">
                      <input type="text" (keypress)="_keyPress($event)" id="MobileNumber{{i}}" name="MobileNumber{{i}}" maxlength="15" class="form-control"
                        [(ngModel)]="mobileControl.MobileNumber" />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="ibox-title custom-ibox-title">
              <h5>
                Addresses
                <span class="req">*</span>
              </h5>
              <div class="ibox-tools">
                <button class="btn btn-create pull-right custom-ibox-tool-btn" (click)="addAddress()">
                  <i class="fa fa-plus" aria-hidden="true"></i> Add Address
                </button>
              </div>
            </div>
            <div class="row pt15" *ngFor="let control of addressSet let i = index">
              <div *ngIf="!control.IsDeleted">
                <div class="row form-group text-right" style="margin: 0;">
                  <a *ngIf="!control.IsPrimary" (click)="control.IsDeleted = true">
                    <i class="fa fa-times-circle"></i>
                  </a>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Address1{{i}}">Address</label>
                    <input type="text" name="Address1{{i}}" maxlength="250" class="form-control" [(ngModel)]="control.Address1" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Country{{i}}">Country</label>
                    <select class="form-control" [(ngModel)]="control.Country" id="Country{{i}}" name="Country{{i}}" (ngModelChange)="CountryChanges($event)">
                      <option [value]='undefined'>Select Country</option>
                      <option *ngFor="let country of countries" [value]='country.Id'>
                        {{country.CountryName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="State{{i}}">State</label>
                    <select class="form-control" [(ngModel)]="control.State" id="State{{i}}" name="State{{i}}" (ngModelChange)="StateChanges($event)">
                      <option [value]='undefined'>Select State</option>
                      <option *ngFor="let state of states" [value]='state.Id'>
                        {{state.StateName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="City{{i}}">City</label>
                    <select class="form-control" [(ngModel)]="control.City" id="City{{i}}" name="City{{i}}">
                      <option [value]='undefined'>Select City</option>
                      <option *ngFor="let city of cities" [value]='city.Id'>
                        {{city.CityName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="PostCode{{i}}">PostCode</label>
                    <input type="text" name="PostCode{{i}}" maxlength="50" class="form-control" [(ngModel)]="control.PostCode" />
                  </div>
                </div>

              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
              <a href=javascript:; [routerLink]="['../../companies']" class="btn btn-default btn-cancel mr5">
                <i class="fa fa-times-circle mr5"></i> Back
              </a>
              <button type="submit" [disabled]="isLoading" class="btn btn-primary mr5">
                <i class="fa fa-check mr5"></i> {{ isLoading == true ? 'Saving...' : 'Save' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>